.test {
    color: #268BD2;
    color: #CB4B16;
    color: #93A1A1;
    color: #D30102;
    color: #859900;
    color: #073642;
    color: #EEE8D5; /* line highlight */
    color: #586E75;
    color: #93A1A1;
    color: #FF5E99;
    
}